h1 {
  font-family: cursive;
  background-color: rgb(240, 211, 220);
  color: black;
  text-shadow: 2px 2px 3px white;
  font-size: 40px;
  text-align: center;
}

body {
  background-color:rgb(198, 155, 191);
  font-family: Lucida;
  margin-left: 10px;
}

h2 {
  color: rgb(149, 100, 243);
  text-shadow: 2px 2px 3px white;
  font-family: Lucida;
  border-bottom: 2px dashed rgb(149, 100, 243);
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
}

h2.headingcolor2 {
  color: white;
  text-shadow: 2px 2px 3px rgb(149, 100, 243);
  border-bottom: 2px dashed white;
}

 footer {
   border-top: 2px solid black;
   margin-top: 20px;
   padding-top: 10px;
   font-style: italic;
   font-size: 12px;
   color: black;
 }

 p.intro {
   text-align: center;
 }

 strong {
   color: white;
   font-size: 17px;
 }

 span.emphasis {
   font-weight: bold;
   font-size: 20px;
   text-shadow: 0 0 3px #FF9999;
 }


 img.logo {
   width: 60px;
   height: 60px;
   border: 2px dashed white;
   border-radius: 50%;
 }

 div#map {
   height: 300px;
   width: 700px;
   margin-left: 20px;
   text-align: center;
 }

 div.mediaicon {
   text-align: center;
 }

button {
  background-color: white;
  border-radius: 10%;
  width: 100px;
  height: 50px;
  color: black;
  font-size: 10px;
  border: 0;
  position: relative;
  left: 50px;
  bottom: 10px;
}
